.videoCardCart {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-items: left;
  justify-content: center;
  column-gap: 5px;
  margin: 5px;
}

.empty {
  color: #57e389;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 3rem;
}
