.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgba(0,0,0,0);
  background-color: #241f31;
  width: 23.7%;
  height: 40%;
  transition: all 0.4s;
  border-color: rgba(255,255,255,0.4);
}

.videoCardThumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  height: 60%;
  width: 100%;
  align-items: top;
}

.video-card:hover {
  border: 3px solid #FC0;
}

.videoCardInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #33d17a;
  text-decoration: none;
  height: 100%;
  word-wrap: wrap;
}

.videoCardTitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.videoCardUploader {
  font-size: 0.7rem;
}

.videoCardNumbers {
  font-size: 0.7rem;
  margin-top: 10px;
}


